ai_avatar_news_report/4a - Compile Final News Report.json
{
  "name": "4a - Compile Final News Report",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        -1456
      ],
      "id": "4521eb9e-3353-46a7-bb5b-16cc6f8a0d04",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "={{ $json.dropbox_folder_with_media_assets }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        -1648,
        -1456
      ],
      "id": "a5cce03e-957a-4d5b-bbc2-383bb510c068",
      "name": "List a folder",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f47b10fd-e17f-4502-8ebe-634bfb617b4b",
              "name": "dropbox_folder_with_media_assets",
              "value": "={{ $json.mediaAssetsFolderPath }}",
              "type": "string"
            },
            {
              "id": "6f4e78c8-0db4-4b31-ae8c-63bf7faf18c3",
              "name": "identifier",
              "value": "={{ $now.format('mmss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        -1456
      ],
      "id": "b841dc58-4ef5-4022-a6bc-f598ed46fd9c",
      "name": "Set Config"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        -1456
      ],
      "id": "16a4d2a1-649b-42f4-ab97-22b77a3eef0e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropboxapi.com/2/sharing/list_shared_links",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dropboxOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $json.script }}\",\n  \"direct_only\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -976,
        -1456
      ],
      "id": "e90c01a8-65e2-49d0-81d1-a58a681ae495",
      "name": "List Dropbox \"Share Links\" for script file in scene",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "843709d1-ea9c-4b93-8c1d-af1a06fa7348",
              "name": "directDownloadLink",
              "value": "={{ $json.links[0].url.replaceAll(\"dl=0\",\"dl=1\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -1456
      ],
      "id": "23f892fb-17ac-4e55-be0b-df6bd16da49f",
      "name": "Make Direct Download Link for \"script\" json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c0541a6-b88b-41c1-9ca8-80ea344d9325",
              "name": "movie",
              "value": "={\n    \"comment\": \"News Program\",\n    \"resolution\": \"full-hd\",\n    \"quality\": \"high\",\n    \"scenes\": {{ JSON.stringify($json.data) }},\n    \"elements\": []\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -1648
      ],
      "id": "145c5651-b641-49c0-8b38-85e21d9c1f04",
      "name": "Final movie.json"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -976,
        -1648
      ],
      "id": "e5c7a8ae-ef0a-4e96-a156-5780f2ab9691",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.movie }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -1648
      ],
      "id": "40034e63-4889-4d39-84aa-06818b81bd1e",
      "name": "Stitch Video Together",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VPwMDsXmy5avyoE9",
          "name": "JSON2Video API Header AAIVA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.directDownloadLink }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -528,
        -1456
      ],
      "id": "13b5bd48-510c-47a3-adb9-a4316835fbf0",
      "name": "Download script.json"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropboxapi.com/2/sharing/list_shared_links",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dropboxOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"path\": \"{{ $('Loop Over Items').item.json.video }}\",\n  \"direct_only\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        -1456
      ],
      "id": "b61b9b62-7da9-4b88-9ee0-071a99d22e32",
      "name": "List Dropbox \"Share Links\" for movie file in scene",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "843709d1-ea9c-4b93-8c1d-af1a06fa7348",
              "name": "directDownloadLink",
              "value": "={{ $json.links[0].url.replaceAll(\"dl=0\",\"dl=1\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -1360
      ],
      "id": "c0dc02cf-318f-4194-990f-1759b281c130",
      "name": "Make Direct Download Link for \"movie\""
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst scenes = [1,2,3]\nconst files = $input.all()\n\nlet filesForScenes = []\n\nfor (let i of scenes) {\n  console.log('i', i);\n\n  let filesForCurrentScene = {\n    audio: \"\",\n    script: \"\",\n    video: \"\"\n  };\n  \n  for (let j = 0; j < files.length; j++) {\n    if (files[j].json.name.startsWith(`${i}`)) {\n      // filesForCurrentScene.push(files[j])\n\n      if (files[j].json.name.endsWith(\".mp3\")) {\n        filesForCurrentScene[\"audio\"] = files[j].json.pathLower\n      } else if (files[j].json.name.endsWith(\".mp4\")) {\n        filesForCurrentScene[\"video\"] = files[j].json.pathLower\n      } else if (files[j].json.name.endsWith(\".json\")) {\n        filesForCurrentScene[\"script\"] = files[j].json.pathLower\n      } else {\n        console.log(\"Unknown file type\")\n      }\n    }\n  }\n\n  filesForScenes.push(filesForCurrentScene)\n  \n}\n\nreturn filesForScenes;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -1456
      ],
      "id": "cd7345d3-aa1f-40c1-b7df-9068d1d01fc7",
      "name": "Group files by scene"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet scene = [\n  {\n    \"comment\": `News Segment ${$input.first().json.index}`,\n    \"background-color\": \"#00FF00\",\n    \"elements\": [\n      {\n        \"type\": \"video\",\n        \"src\": `${$input.first().json.directDownloadLink}`,\n        \"duration\": -1\n      },\n      {\n        \"type\": \"component\",\n        \"component\": \"basic/052\",\n        \"settings\": {\n          \"card\": {\n            \"vertical-align\": \"bottom\",\n            \"horizontal-align\": \"left\",\n            \"padding\": \"4vw\"\n          },\n          \"headline\": {\n            \"text\": `${$('Download script.json').first().json.headline}`,\n            \"font-size\": \"2.5vw\",\n            \"font-family\": \"Inter\",\n            \"font-weight\": \"400\",\n            \"background-color\": \"white\",\n            \"color\": \"black\",\n            \"padding\": \"1vw\"\n          },\n          \"section\": {\n            \"text\": `SEGMENT ${$('Download script.json').first().json.index}`,\n            \"font-size\": \"2.5vw\",\n            \"font-family\": \"Inter\",\n            \"font-weight\": \"400\",\n            \"background-color\": \"red\",\n            \"color\": \"white\",\n            \"padding\": \"1vw\"\n          }\n        }\n      }\n    ]\n  },\n  {\n    \"comment\": \"Haiti Flag Transition\",\n    \"elements\": [\n      {\n        \"type\": \"image\",\n        \"src\": \"https://www.dropbox.com/scl/fi/8u40zncmif0reat8d3yt3/THUMBNAIL.png?rlkey=xinc70b4ypbcajpcijnif9mzp&st=vn91q423&dl=1\",\n        \"duration\": -1\n      },\n      {\n        \"type\": \"audio\",\n        \"src\": \"https://www.dropbox.com/scl/fi/66c0kodhrm1ylg9vwvc2w/glitch_sound_effect_2.mp3?rlkey=b68z321qqjn2y9yyo2bcjmex4&st=rgp12vzb&dl=1\",\n        \"duration\": -1\n      }\n    ]\n  }\n]\n\nreturn scene"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -1296
      ],
      "id": "541fe3c9-73cd-436d-abb4-63cc304f09d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "941deb3f-1121-499d-865f-d85c1d13427f",
              "leftValue": "={{ $json.links }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -1456
      ],
      "id": "cdade899-d682-4caa-9d5c-51823890f16b",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Missing Dropbox Share Links"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        144,
        -1552
      ],
      "id": "f732bab4-b9a7-44e5-b0fa-c89d4c2d8420",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "4IC8JLbqt6xAPRAw",
          "mode": "list",
          "cachedResultName": "AI Avatar News Report DT",
          "cachedResultUrl": "/projects/JfibotTF1i2uZ3V5/datatables/4IC8JLbqt6xAPRAw"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2096,
        -1456
      ],
      "id": "bcd12528-a325-4d98-af19-eb649c3075c9",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List a folder": {
      "main": [
        [
          {
            "node": "Group files by scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "List a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Dropbox \"Share Links\" for script file in scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Dropbox \"Share Links\" for script file in scene": {
      "main": [
        [
          {
            "node": "Make Direct Download Link for \"script\" json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Direct Download Link for \"script\" json": {
      "main": [
        [
          {
            "node": "Download script.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final movie.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final movie.json": {
      "main": [
        [
          {
            "node": "Stitch Video Together",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download script.json": {
      "main": [
        [
          {
            "node": "List Dropbox \"Share Links\" for movie file in scene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Dropbox \"Share Links\" for movie file in scene": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Direct Download Link for \"movie\"": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group files by scene": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make Direct Download Link for \"movie\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f986d699-ba50-4446-980f-a3fa5466e5d0",
  "meta": {
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "Ia58NPZileFLdPHO",
  "tags": []
}