ai_avatar_news_report/PART 1 - Research + Text-2-Speech.json
{
  "name": "Research + Text-2-Speech",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1648,
        -512
      ],
      "id": "274bb210-7f52-42b9-b8ee-bf94c394bb03",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=# TASK\n\nResearch the latest news on the TOPIC provided below.\n\n## CURRENT DATE\n\n{{ $now.format('yyyy-MM-dd hh:mm:ss a') }}\n\n## TOPIC\n\n{{ $json.topic }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -976,
        -512
      ],
      "id": "9b870e43-080b-43f8-9d9d-dddf824412b2",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "g3M5V7VE9TlQjbuq",
          "name": "Perplexity API Key for AI Avatar News Reports"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": true,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "606ddc8e-7e93-4f97-a87e-a11cf0dd617d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "English"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "105c05b2-9f9f-4680-94d4-8f6197751e7f",
                    "leftValue": false,
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "French"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -752,
        -512
      ],
      "id": "c7eaafb5-6965-4815-8b06-4e4b5006173f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $('Set Config (PART B)').item.json.elevenLabsVoiceIds.en }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.script }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -752
      ],
      "id": "95f5aff4-b665-497c-b35c-47bf1bcde08b",
      "name": "ElevenLabs TTS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MNID48LNuwKISm0N",
          "name": "Eleven Lab Auth Header JULAI"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Set Config (PART B)').item.json.mediaAssetsBaseFolder }}/english/{{ $json.index }}.mp3",
        "binaryData": true
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        720,
        -752
      ],
      "id": "523e3547-667e-4da6-987c-31fe6cc38fed",
      "name": "Upload TTS audio",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Set Config (PART B)').item.json.mediaAssetsBaseFolder }}/english/{{ $('Split Out').item.json.index }}.json",
        "fileContent": "={{ JSON.stringify($('Write Script in English').item.json.output[0].content[0].text.report[$('Split Out').item.json.index - 1]) }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        944,
        -688
      ],
      "id": "25d3ff96-f757-4825-856b-ccf4bbe0e0a0",
      "name": "Upload Script",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output[0].content[0].text.report",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -176,
        -688
      ],
      "id": "c0a4536d-1c0a-4eb8-a084-2b8f7f63a1aa",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        -752
      ],
      "id": "576fdf70-6c7a-414e-87fe-98aea886cdd3",
      "name": "Wait",
      "webhookId": "579a0129-e04e-4612-9964-9b32d4d8aec5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $('Set Config (PART B)').item.json.elevenLabsVoiceIds.fr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.script }}"
            },
            {
              "name": "model_id",
              "value": "eleven_multilingual_v2"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -448
      ],
      "id": "b1ba47bb-2c3c-4150-9045-efd0b587b6c9",
      "name": "ElevenLabs TTS1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MNID48LNuwKISm0N",
          "name": "Eleven Lab Auth Header JULAI"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Set Config (PART B)').item.json.mediaAssetsBaseFolder }}/french/{{ $json.index }}.mp3",
        "binaryData": true
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1168,
        -448
      ],
      "id": "9d1cb74c-6b67-4494-9604-f7bed7e3a6d3",
      "name": "Upload TTS audio1",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Set Config (PART B)').item.json.mediaAssetsBaseFolder }}/french/{{ $('Split Out1').item.json.index }}.json",
        "fileContent": "={{ JSON.stringify($('Edit Fields').item.json.script[$('Split Out1').item.json.index - 1]) }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1392,
        -368
      ],
      "id": "6b8ddddf-b7e0-43ec-94bb-c54d051ce290",
      "name": "Upload Script1",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "x9JcistZPcwmSHoZ",
          "name": "Dropbox account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "script",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        -368
      ],
      "id": "e513aaa8-8f55-4cbf-90ba-f8ac4458dc89",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        -448
      ],
      "id": "44e89f9c-dbf5-4c90-914f-3349dd97f364",
      "name": "Wait1",
      "webhookId": "579a0129-e04e-4612-9964-9b32d4d8aec5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "050b0fd6-33b2-45f8-8113-c3ae87d3db2f",
              "name": "timestamp",
              "value": "={{ $now.format('yyyy_MM_dd__hh_mm_ss_a') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -512
      ],
      "id": "60962085-1fc8-4004-8074-e6331a0ea307",
      "name": "Set Config (PART A)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bd4a998-bfe7-498d-94bc-a68c06647d6c",
              "name": "topic",
              "value": "Positive developments regarding Ayiti (aka Haiti)",
              "type": "string"
            },
            {
              "id": "f980c17a-0214-4a15-b63b-c950d3022610",
              "name": "mediaAssetsBaseFolder",
              "value": "=/projects/ayiti_news_report/{{ $('Set Config (PART A)').first().json.timestamp }}",
              "type": "string"
            },
            {
              "id": "0b88eac7-af3b-425a-b75d-962df5569be6",
              "name": "elevenLabsVoiceIds",
              "value": "={\n  \"fr\": \"McVZB9hVxVSk3Equu8EH\",\n  \"en\": \"6aDn1KB0hjpdcocrUkmq\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        -512
      ],
      "id": "a03be355-dd4e-40e7-8ebd-4e8b3374049b",
      "name": "Set Config (PART B)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=# TASK\n\nYou are the host of an internationally renowned short-form news show. Create an outline for your latest news report based on the research provided below.\n\nThe outline will be organized into scenes or segments. Each scene represents one news segment of the overall news program.\n\n## REQUIREMENTS\n\n- The general topic of the news program is: {{ $('Set Config (PART B)').item.json.topic }}\n- The script of each segment should be between 5 to 10 seconds in length when dictated\n- Only create 3 segments\n- Any dates in the script should be spelled out so the text-2-speech tool used downstream accurately pronounces them\n- avoid special characters in the script that would cause text-to-speech systems to dictate the script incorrectly\n- the script should be written in English as it will be delivered in that language downstream\n\n## RESEARCH\n\n{{ $('Message a model').item.json.choices[0].message.content }}\n\n## CITATIONS\n\n{{ $('Message a model').item.json.citations }}\n\n## JSON OUTPUT SCHEMA\n\n{\n  \"index\": number;\n  \"script\": string;\n  \"headline\": string;\n  \"citations\": string[];\n}[]"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"report\"],\n  \"properties\": {\n    \"report\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"index\", \"script\", \"headline\", \"citations\"],\n        \"properties\": {\n          \"index\": { \"type\": \"number\" },\n          \"script\": { \"type\": \"string\" },\n          \"headline\": { \"type\": \"string\" },\n          \"citations\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    }\n  }\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -528,
        -688
      ],
      "id": "2dc14034-5dbe-46b2-9421-c7fe7707982b",
      "name": "Write Script in English",
      "credentials": {
        "openAiApi": {
          "id": "3Pi4ZntDXCnJXClE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        -688
      ],
      "id": "5222e082-8dfa-45ca-ad50-f8344f5153a7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -368
      ],
      "id": "45eb9087-d30c-4f11-ba16-0eecf970ed7d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f010f424-769d-49e0-b965-8629638482ef",
              "name": "prompt",
              "value": "=# TASK\n\nYou are the host of an internationally renowned short-form French news show. Create an outline for your latest news report based on the research provided below.\n\nThe outline will be organized into scenes or segments. Each scene represents one news segment of the overall news program.\n\n## REQUIREMENTS\n\n- The general topic of the news program is: {{ $('Set Config (PART B)').item.json.topic }}\n- Each segment should be between 5 to 10 seconds in length\n- Only create 3 segments\n- Any dates in the script should be spelled out so the text-2-speech tool accurately pronounces them\n- the script should be written in grammatically correct French as it will be delivered in that language by a French narrator\n- No need to announce the beginning of each segment as that will be done with titles at a later stage in the editing/production of this news report\n- Use correct French spelling throughout the script\n\n## RESEARCH\n\n{{ $('Message a model').item.json.choices[0].message.content }}\n\n## CITATIONS\n\n{{ $('Message a model').item.json.citations }}\n\n## JSON OUTPUT SCHEMA\n\n{\n  \"index\": number;\n  \"script\": string;\n  \"headline\": string;\n  \"citations\": string[];\n}[]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -368
      ],
      "id": "64d7c6d7-13cb-4d03-aa80-c6e1f02fcdb5",
      "name": "Prompt Template for French Script"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74717bbb-ab79-4e1b-99b7-13c3d579113c",
              "name": "script",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -368
      ],
      "id": "9e6baa8b-75b7-4f5e-99a3-4d438ea40da2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"content\": {{ JSON.stringify($json.prompt) }},\n      \"role\": \"user\"\n    }\n  ],\n  \"model\": \"mistral-large-latest\",\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -368
      ],
      "id": "c30e7027-ca53-41f6-a007-757cf01f2f63",
      "name": "Write Script in French with Mistral",
      "credentials": {
        "httpBearerAuth": {
          "id": "DUnvAC4U935Qby5F",
          "name": "Mistral AI API key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Config (PART A)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Write Script in English",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Template for French Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload TTS audio": {
      "main": [
        [
          {
            "node": "Upload Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Upload TTS audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload TTS audio1": {
      "main": [
        [
          {
            "node": "Upload Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Upload TTS audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (PART A)": {
      "main": [
        [
          {
            "node": "Set Config (PART B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config (PART B)": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script in English": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Script": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "ElevenLabs TTS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Script1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Template for French Script": {
      "main": [
        [
          {
            "node": "Write Script in French with Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script in French with Mistral": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88633ff7-dc69-445a-b0eb-3f6fbbcf1e7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "MeYpR8amo2AyVJ5z",
  "tags": []
}